<footer role="contentinfo">
    <div class="container center" style="font-size: 19px;">
        <p>
            <small>
            <a class="plain-link" href="/">©2016 Odamy</a> |
              <a class="plain-link" href="https://lauro.io/">By Lauro Silva</a>
            </small>
        </p>
    </div>
</footer>
